#root {
	margin: 0 auto;
	text-align: center;
}
.blurred-box {
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(5px);
	text-align: center;
	border-radius: 5px;
}
.console {
	padding-top: 56px !important;
}
